<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
  http://www.springframework.org/schema/beans/spring-beans.xsd
  http://www.springframework.org/schema/context
  http://www.springframework.org/schema/context/spring-context.xsd">


	<description>Spring integration</description>

	<context:annotation-config /> 
	
	<!-- 获取Spring上下文 -->
	<bean id="springContextUtil" class="com.lt.util.SpringContextUtil"  scope="singleton"></bean> 
	 
	
	<import resource="spring/app.db.cfg.xml"/> 
	
	<import resource="spring/app.hibernate.cfg.xml"/>
	 
	<import resource="spring/app.dao.cfg.xml"/> 

	<import resource="spring/app.service.cfg.xml"/> 
	
	<import resource="spring/app.resource.cfg.xml"/> 
</beans>